@model AlertsAdmin.Domain.Models.AlertAcknowledgeRequest

<form action="/api/v1/alerts/acknowledge" class="form-horizontal modal-body" id="AlertAckForm" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.HiddenFor(m => m.Id)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AckCount)
            @Html.TextBoxFor(m => m.AckCount, "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AckTime)
            @Html.TextBoxFor(m => m.AckTime, "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextBoxFor(m => m.Message, "", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Acknowledge Alert</button>
    </div>
</form>
